.topNavbar{
    padding: 0;
    margin: 0;
    background: var(--background-color);
    color: var(--secondary-color);

    .container{
        display: flex;
        justify-content: space-between;
        padding: 5px 50px;

        .left{

            .logo{
                display: flex;
                align-items: center;

                img{
                    width: 40px;
                    height: 40px;
                    cursor: pointer;
                }
                .logoDetails{
                    margin-left: 10px;

                    h4, p{
                        margin: 0;
                    }
                    p{
                        font-size: 10px;
                    }
                }
            }
        }

        .right{
            display: flex;
            align-items: center;

            h5, p{
                margin: 0;
            }
            p{
                font-size: 12px;
            }
            .icon{
                margin-right: 10px;
                color: #ff6600;
            }

            .email{
                right: 0;
                margin-right: 50px;
                display: flex;
                align-items: center;
                margin-left: 50px;
                
                
            }
            .contact{
                right: 0;
                margin-right: 50px;
                display: flex;
                align-items: center;
            }
        }
    }
}