.gallery{
    padding: 0;
    margin: 0;

    .container{
        max-width: 100%;
        padding: 50px 0 0 0;

        .top{
            text-align: center;
            max-width: inherit;
            display: flex;
            flex-direction: column;
            align-items: center;

            h2{
                font-size: var(--h2-font);
                margin: 0;
            }
            p{
                font-size: var(--h5-font);
                margin: 8px 0 0 0;
            }

            .horizontal{
                max-width: 100px;
                height: 5px;
                background: #ff6600;
            }
        }
        .center{
            padding: 20px 0 5px 0;

           .grid{
                display: grid;
                grid-template-columns: auto auto auto auto; 
                gap: 5px;

                .image{
                    width: 100%;
                    height: 200px;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            } 
        }
        .bottom{
            max-width: 100%;
            height: 20vh;
            background: #ff6600;
            display: flex;
            justify-content: center;

            .details{
                width: 80%;
                display: flex;
                align-items: center;
                position: relative;

                .content{
                    color: #ffffff;
                    width: 600px;

                    h3{
                        font-size: var(--h3-font);
                        margin: 0;
                    }
                    p{
                        margin: 0;
                        font-size: var(--body-font);
                        padding-top: 10px;
                    }
                }
                .button{
                    position: absolute;
                    right: 0;

                    button{
                        border: none;
                        cursor: pointer;
                        color: var(--primary-color);
                        background: #ffffff;
                        border-radius: 100px;
                        padding: 10px 40px;
                        font-size: var(--body-font);
                        font-weight: 600;

                        &:hover{
                            background: var(--secondary-color);
                            color: #ffffff;
                        }
                    }
                }

            }
        }
    
    }
}