.mission{
    padding: 0;
    margin: 0;
    background: #fcfaf9;

    .container{
        max-width: 100%;
        padding: 60px 50px;

        .top{
            text-align: center;
            max-width: inherit;
            display: flex;
            flex-direction: column;
            align-items: center;

            h2{
                font-size: var(--h2-font);
                margin: 0;
            }
            p{
                font-size: var(--h5-font);
                margin: 8px 0 0 0;
            }

            .horizontal{
                max-width: 100px;
                height: 5px;
                background: #ff6600;
            }

        }
        .bottom{
            max-width: 100%;
            padding: 30px 100px 0 100px;

            .list{
                display: grid;
                grid-template-columns: auto auto auto;
                gap: 30px;

                .item{
                    display: flex;
                    background: #ffffff;
                    gap: 10px;
                    width: 100%;
                    padding: 20px 10px;

                    .icon{
                        color: #ffffff;
                        background: #ff6600;
                        padding: 10px;
                        border-radius: 100%;
                        display: flex;
                        width: 50px;
                        height: 50px;
                        justify-content: center;
                        align-items: center;
                    }
                    .details{

                        h3{
                            margin: 0;
                            font-size: var(--h3-font);
                            font-weight: 600;
                        }
                        .text{
                            margin: 5px 0 0 0;
                            font-size: var(--h5-font);
                        }
                        .more{
                            margin: 10px 0 0 0;
                            color: #ff6600;
                            font-weight: 600;
                            font-size: var(--h5-font);
                            cursor: pointer;
                        }
                        
                    }
                }
            }
        }

    }
}